@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
*{
	margin: 0;
	font-family: 'Poppins',sans-serif;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: linear-gradient(45deg,#8500ff,#5acaff);
	height: 100vh;
}
::selection{
	background: #7fd2a4;
	color: #fff;
}
#CONTAINER{
	position: absolute;
	/*top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;
	border-radius: 10px;*/
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../images1/404_2.png'),#151729;
	background-size: 1900px 1100px;
	box-shadow: 0 15px 30px rgba(0,0,0,.5)l;
}
#CONTAINER .CONTENT{
	max-width: 600px;
	text-align: center;
}
#CONTAINER .CONTENT h1{
	font-size: 18vw;
	color: #fff;
	line-height: 1em;
	text-shadow: 5px 5px #7fd2a4;
}
#CONTAINER .CONTENT h4{
	position: relative;
	font-size: 1.5em;
	margin-bottom: 20px;
	color: #111;
	background: #fff;
	font-weight: 300;
	padding: 10px 20px;
	display: inline-block;
}
#CONTAINER .CONTENT p{
	color: #fff;
	font-size: 1.2em;
}
#CONTAINER .CONTENT a{
	position: relative;
	display: inline-block;
	padding: 10px 25px;
	background: #ff0562;
	color: #fff;
	text-decoration: none;
	margin-top: 25px;
	border-radius: 25px;
	border-bottom: 4px solid #d00d56;
	transition: .7s;
	padding-right: 40px;
}
#CONTAINER .CONTENT span{
	color: red;
	text-shadow: 5px 5px #fff;
}
#CONTAINER .CONTENT a ion-icon{
	font-size: 25px;
	color: #fff;
	position: absolute;
}
#CONTAINER .CONTENT a:hover{
	transition: .7s;
	transform: scale(1.1);
}
#CONTAINER .CONTENT a:focus{
	text-decoration: none;
	outline: none;
}
@media (max-width: 992px) {
#CONTAINER{
	background-size: 1500px 900px;
}
#CONTAINER .CONTENT h1{
	font-size: 32vw;
}
#CONTAINER .CONTENT p{
	font-size: 1.1em;
}
}